.about {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    padding-bottom: 15px;
}
#about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(0, 208, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border: rgb(138, 138, 196) solid 1px;
    padding-bottom: 10px;
}
.grad-info{
    align-content: center;
}
#about-me .diploma img {
    width: 350px;
    margin-top: 15px;
    border: rgb(163, 87, 87) solid 4px;
    border-radius: 15px;
}
#about-me .grad-info img {
    border: white solid 1px;
    border-radius: 15px;
    padding: 10px;
}
#about-me .grad-info img:nth-of-type(2){
    width: 150px;
}
#about-me .real-chat{
    position: relative;
}
@media (max-width: 768px) {
    #about-me {
        display: flex;
        flex-direction: column;
        
    }
    #about-me .diploma img {
        width: 300px;
    }
    /*#about-me .diploma {
        order: 2;
    }*/
}