.contact-container{
    border: rgb(118, 70, 143) 1px solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    gap: 2rem;
    padding: 2rem;
    align-items: start;
}
.contact-content{
  position: relative;
  z-index: 2;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;

}
.contact-content div{
    display: flex;
    justify-content: space-between;
}
.contact-content div input{
    width: auto;
}
.contact-content textarea{
    height: 50px;
    width: auto;
}
.contact-logos img {
    width: 50px;
    border: white 1px solid;
    border-radius: 10px;
    background: rgb(31, 114, 145);
}
.contact-logos img:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 25px rgba(201, 235, 79, 0.5);
  border: rgb(118, 70, 143) 1px solid;
}
#contact-form div{
  min-height: 60px;
  align-content: center;
  align-items: center;

}
.contact-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  /*border: 1px solid white;*/
  width: fit-content;
}
.contact-submit-button button {
  background: rgba(25, 102, 157, 0.9);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.contact-submit-button button:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 40px rgba(201, 235, 79, 0.5);
  background:  rgb(90, 18, 91);
  border: rgb(118, 70, 143) 1px solid;
}
@media (max-width: 768px) {
  .contact-glow-card::before {
    display: none; /* no moving glow on phones */
  }
  .contact-glow-card{
      border: white 1px solid;
  }
  .contact-content{
      background: rgba(10, 10, 10, 0.4);
  }
  .contact-content div{
    display: flex;
    flex-direction: column;
  }
}