/* --- General Styles --- */
.projects-grid {
    border: rgb(118, 70, 143) 1px solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    gap: 2rem;
    padding: 2rem;
}

.card-content {
  position: relative;
  z-index: 2;
  background: rgba(10, 10, 10, 0.9);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  min-height: 230px;
}

.card-content h2 {
  font-size: 1.1rem;
}

.card-content p {
  color: #cccccc;
  font-size: 1rem;
}

/* --- Cool Button inside the Card --- */
.card-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #0b646b, #5e134c);
  border: white 1px solid;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.4s ease, transform 0.4s ease;
}

.card-button:hover {
  background: linear-gradient(45deg, #5e134c, #0b646b);
  transform: scale(1.05);
}

/* --- Hover effect for the entire card --- */
.projects-glow-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(0, 240, 255, 0.5);
}

@media (max-width: 768px) {
    .projects-glow-card::before {
      display: none; /* no moving glow on phones */
    }
    .projects-glow-card{
        border: white 1px solid;
    }
    .card-content{
        background: rgba(10, 10, 10, 0.4);
    }
  }