.navbar {
  position: relative;
  top: 20px;
  left: 10px;
  right:10px;
  /*transform: translateX(-50%);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 0;
  z-index: 1;
}
.navbar h1 {
  font-size: 1.5rem;
  padding-left: 1%;

}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px); /* Optional: for a frosted glass effect currently set to 0*/
  /*-webkit-backdrop-filter: blur(0px);  Optional: for a frosted glass effect for safari browsers */
}

.navbar li:hover {
  box-shadow: 0px 0px 10px white;

  background: black;
}

.navbar ul li button {
    all: unset;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  padding: 10px 20px;
  margin: -10px -15px -10px -15px;
  cursor: pointer;
    
    border-radius: 10px;
    
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-right: 20px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .navbar ul {
    position: absolute;
    top: 70px;
    right: 0px;
    border-radius: 10px;
    flex-direction: column;
    gap: 1px;
    display: none;
  }
  .navbar ul li {
    background: rgb(216, 149, 149);
  }
  .navbar ul.open{
    display: flex;
  }
  .hamburger {
    display: flex;
  }
}