button {
    all: unset;
    color: black;
    background-color: rgb(216, 149, 149);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    /*border: 1px solid white;*/
    box-sizing: border-box;
    padding: 10px 20px;
    margin: -10px -15px -10px -15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
button:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #00ffe1);
}
.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
embed {
    max-width: 700px;
    border-radius: 15px;
}